.footer-content {
    padding: 12rem 0 5rem;

    p {
        color: grey;

        b {
            color: black;
            margin-right: 5px;
        }

        a {
            color: #9cd322;
        }
    }
}