.map-container{
    position: relative;
}
.map-container .mapButton{
    background-color: white;
    border: 1px solid #9cd322;
    padding: 7px 4px;
   
    border-radius: 0px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;

}
.confirm-location-btn{
  box-sizing: border-box;
 
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
  border: none;
  background-color: #9cd322;
    padding: 10px 10px;
   
    border-radius: 0px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}
.map-action-btns{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap:20px;
    

    bottom: 10px;
}

.billing-details-container{
  height: 100%;
position: absolute;
top:0px;
bottom: 0px;
background-color: transparent;
width: 100%;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}
.map-search-container{
    width: 100%;
    padding-inline: 30px;
  
    box-sizing: border-box;
    position: absolute;
    top: 20px;
}
.map-search-container input{
    border-radius: 5px;
    padding-left: 30px;
    font-size: 12px;

}
.map-search-container input::placeholder{
    padding-left: 20px;
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
  }


.blur-map {
    filter: blur(4px); /* Adjust the blur strength as needed */
    transition: filter 0.3s ease; /* Smooth transition */
  }

  .autocomplete-dropdown-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .autocomplete-dropdown-container div {
    padding: 10px;
    font-size: 14px; /* Reduced font size */
    transition: background-color 0.3s ease;
  }
  
  .autocomplete-dropdown-container div:hover {
    background-color: #f0f0f0; /* Hover effect */
  }
  
  .autocomplete-dropdown-container div.active {
    background-color: #e0e0e0; /* Active background color */
    font-weight: bold;
  }
  
  .autocomplete-dropdown-container div:not(:last-child) {
    border-bottom: 1px solid #eee; /* Add subtle dividers */
  }
  

  
  @media(min-width: 767.98px) {
    .map-container .mapButton{
      font-size: 13px;
      padding: 8px 15px;
    }
 }