@import '../../mixins.scss';
.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
    border-radius: 4px;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg,
                rgba(#b9b5b5, 0) 0,
                rgba(#b9b5b5, 0.2) 20%,
                rgba(#b9b5b5, 0.5) 60%,
                rgba(#b9b5b5, 0));
        animation: pulse 2s infinite;
        content: "";
    }
}

@keyframes pulse {
    100% {
        transform: translateX(100%);
    }
}

.title-skeleton {
    width: 100%;
    height: 50px;
}

.dish-skeleton {
    width: 100%;
    height: 200px;
}
.lazy-load-item{
    @include xs {
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(226, 223, 223);
    }
}